canvas {
    border-color: lightskyblue;
    background-color: lightskyblue;
}

html, body {
    margin: 0;
    padding: 0;
    cursor: url('images/cursor.png'), auto;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'SuperMarioBros3';
    src: url('superMarioBros3.ttf') format('truetype');
}